#server-control.ui.page
  %form.ui.form.server-control.equal.width.page
    %br
    .ui.message 
      Enter the address and port of your websocket server. 
      %em 162.243.120.86 
      is the address for the Hybrid Atelier Websocket Server.
    
    .three.fields
      .field
        %label SERVER ADDRESS
        .ui.labeled.input
          .ui.label ws://   
          %input.param{type:"text", name:"host", value:"162.243.120.86"}
      .field
        %label PORT
        %input.param{type:"number", name:"port", value: 3001}
      .field
        %label &nbsp;
        %button.connect.blue.ui.button.massive.fluid.page-action{type:"submit"}
          CONNECT