#event-options.ui.longer.modal
  .header Event Listener Options
  .content
    .ui.message
      Specify which events you'd like to log. 
    %form.ui.form
      .field
        .ui.checkbox
          %input{type:"checkbox"} 
          %label Event A
      .field
        .ui.checkbox
          %input{type:"checkbox"} 
          %label Event A
      .field
        .ui.checkbox
          %input{type:"checkbox"} 
          %label Event A
      .field
        .ui.checkbox
          %input{type:"checkbox"} 
          %label Event A    
    %br    
    %p
      %em This list is automatically populated from event messages detected on the server.
      
  .actions
    .ui.buttons
      .ui.cancel.button Cancel
      .ui.approve.button.green 
        %i.icon.save
        Save

    