#sensor-options.ui.longer.modal
  .header Sensor Options
  .content
    .ui.message
      Specify which sensors you'd like to stream. 
    %form.ui.form
      .field
        .ui.checkbox
          %input{name: "sensor_pressure", type:"checkbox"} 
          %label Pressure
      %hr
      .field
        .ui.header Viewer Settings
        .centered-row
          .ui.checkbox
            %input{name: "tooltip", type:"checkbox"} 
            %label Show tooltip
        .centered-row
          .ui.checkbox
            %input{name: "fixMaxValue", type:"checkbox"} 
            %label MAX
          .input
            %input{name: "maxValue", type:"number", value: 100} 
        .centered-row
          .ui.checkbox
            %input{name: "fixMinValue", type:"checkbox"} 
            %label MIN
          .input
            %input{name: "minValue", type:"number", value: 0} 
          
    %br    
   
      
      
  .actions
    .ui.buttons
      .ui.cancel.button Cancel
      .ui.approve.button.green 
        %i.icon.save
        Save

    
